<form class="question-form">
    <div class="form-line">
        <label for="question-input">Question:</label>
        <input class="form-input" type="text" id="question-input" placeholder="Type the question here" />
    </div>
    <div class="form-line">
        <label for="choice1-input">A&#41 </label>
        <input class="form-input" type="text" id="choice1-input" placeholder="Type the first answer choice here" />
    </div>
    <div class="form-line">
        <label for="choice2-input">B&#41 </label>
        <input class="form-input" type="text" id="choice2-input" placeholder="Type the second answer choice here" />
    </div>
    <div class="form-line">
        <label for="choice3-input">C&#41 </label>
        <input class="form-input" type="text" id="choice3-input" placeholder="Type the third answer choice here" />
    </div>
    <div class="form-line">
        <label for="choice4-input">D&#41 </label>
        <input class="form-input" type="text" id="choice4-input" placeholder="Type the fourth answer choice here" />
    </div>
    <div>
        <h5>Select the correct answer</h5>
    </div>
    <div class="form-line" id="radio-box">
        <div class="radio-choices">
            <label for="choice1-radio">A</label>
            <input type="radio" id="choice1-radio" name="correct-answer" value="1st choice is correct" class="radio"
                checked>
        </div>
        <div class="radio-choices">
            <label for="choice2-radio">B</label>
            <input type="radio" id="choice2-radio" name="correct-answer" value="2nd choice is correct" class="radio">
        </div>
        <div class="radio-choices">
            <label for="choice3-radio">C</label>
            <input type="radio" id="choice3-radio" name="correct-answer" value="3rd choice is correct" class="radio">
        </div>
        <div class="radio-choices">
            <label for="choice4-radio">D</label>
            <input type="radio" id="choice4-radio" name="correct-answer" value="1st choice is correct" class="radio">
        </div>
    </div>
</form>