<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz Cr8r</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
  <header>
    <h1>
      <a id="home-btn" href="/">
        Quiz Cr8r
      </a>
    </h1>
    {{#if loggedIn}}
    <nav>
      <button class="no-button" id="logout">logout</button>
    </nav>
    {{else}}
    <nav>
      <button class="no-button" id="login" onclick="window.location.href='/login';">login</button>
    </nav>
    {{/if}}
  </header>
  <main>
    {{{ body }}}
  </main>
  <footer>
    © 2023 Team Awesome-O
  </footer>

</body>
<script src="/js/jass.js"></script>
{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}

</html>