<div id="login-box">
  <div class="main-title">
    <h2>Login</h2>
  </div>
  <form id="login-form">
    <div class="form-line">
      <label for="email-login" class="form-category">email:</label>
      <input class="form-input" type="text" id="email-login" />
    </div>
    <div class="form-line">
      <label for="password-login" class="form-category">password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <div class="form-line form-btn-box">
      <button id="login-btn" class="btn" type="submit">login</button>
    </div>    
  </form>
  <div id="signup-link-box">
    <a href="/signup/">sign up</a>
  </div>
</div>

<script src="./js/login.js"></script>