<div class="main-title">
  <h2>Welcome, {{username}}!</h2>
</div>

<div id="profile-box">
  <div id="user-quiz-box">
    <h3>Your Quizzes:</h3>
    <div id="user-quizlist">
      {{#each quizzes}}
      <a class="quiz-title quiz-link" href="/quizzes/{{id}}">{{quiz_title}}</a>
      {{/each}}
    </div>
  </div>
  <div id="create-btn-box">
    <a class="quiz-title quiz-link" href="/new-quiz" id="create-btn">Create a Quiz</a>
  </div>
  <div id="update-user-btn-box">
    <a class="quiz-title quiz-link" href="/update-user" id="update-user-btn">Update your information</a>
  </div>
</div>
<script src="./js/profile.js"></script>