<div class="main-title">
  <h2>Welcome, {{quizzes}}!</h2>
</div>

<div id="profile-box">
  <h3>Created Quizzes:</h3>
  <div>
    {{#each quizzes}}
    <a class="quiz-title quiz-link" href="/quizzes/{{id}}">{{quiz_title}}</a>
    {{/each}}
  </div>
  <button class="btn" id ="create-btn">Create A Quiz</button>
</div>
<script src="./js/profile.js"></script>
