<div id="questions-container">
  <div class="main-title">
    <h2>Question List</h2>
  </div>
  <div id="question-list">
    {{#each questions}}
    <a href="questions/{{id}}" class="question-link" question-id="{{id}}">
      {{question}}
    </a>
    {{/each}}
  </div>
</div>