<div class="quizlist-container">
  <div class="card-header col-md-12 text-center">
    <h2>
      Quiz List
    </h2>
  </div>
  {{#each quizzes}}
  <div class="quizList col-md-4">
    <p quiz-id="{{id}}">
      <a href="/quizzes/{{id}}"> {{quiz_title}}
    </p>
  </div>
  {{/each}}
</div>