<div id="quizlist-container">
  <div class="main-title">
    <h2>Quizzes</h2>
  </div>
  <div id="quizlist">
  {{#each quizzes}}
      <a href="/quizzes/{{id}}" quiz-id="{{id}}" class="quiz-link">{{quiz_title}}</a>
  {{/each}}
  </div>
</div>