<form class="quiz-title-form">
    <div class="form-line">
        <label for="quiz-title-input">Quiz Title:</label>
        <input class="form-input" type="text" id="quiz-title-input" placeholder="What is the title of your quiz?" />
    </div>
    <div class="form-line">
        <label for="quiz-time-input">Time Limit in Minutes:</label>
        <input class="form-input" type="text" id="quiz-time-input" placeholder="What is the title of your quiz?" />
    </div>
    <div class="form-line form-btn-box">
        <button class="btn" id="save-quiz-btn">Save Quiz Title</button>
    </div>
</form>
<script src="./js/create.js"></script>