<div id="quiz-scores-container" quiz-id="{{quizInfo.id}}">
  <div class="main-title">
    <h2>{{quizInfo.quiz_title}}</h2>
    <h3>SCORES</h3>
  </div>
  <ul id="quiz-scores-list">
    {{#each score}}
    <li class="quiz-scores aos-animate" data-aos="fade-right" >{{user.username}} - {{score}}</li>
    {{/each}}
  </ul>
</div>

<script src="../../js/quizscores.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script> 
<script>
  if( (window.innerWidth || document.documentElement.clientWidth) > 768) {
    AOS.init({
      startEvent: "DOMContentLoaded"
    });
  }
  window.onresize = function(event) {
    if (screen.availWidth > 768) {
      AOS.init({
        disable: function() {
          var maxWidth = 768;
          return window.innerWidth < maxWidth;
          }
      });
    }
  };
</script>