<div id="signup-box">
  <div>
    <div class="main-title">
      <h2>Signup</h2>
    </div>
    <form class="signup-form">
      <div class="form-line">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-line">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-line">
        <button class="btn" type="submit" id="signup-btn">signup</button>
      </div>
    </form>

  </div>
</div>

<script src="../public/js/login.js"></script>