<div id="signup-box">
  <div class="main-title">
    <h2>Signup</h2>
  </div>
  <form id="signup-form">
    <div class="form-line">
      <label for="username-signup" class="form-category">username:</label>
      <input class="form-input" type="text" id="username-signup" />
    </div>
    <div class="form-line">
      <label for="email-signup" class="form-category">email:</label>
      <input class="form-input" type="text" id="email-signup" />
    </div>
    <div class="form-line">
      <label for="password-signup" class="form-category">password:</label>
      <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class="form-line form-btn-box">
      <button class="btn" type="submit" id="signup-btn">signup</button>
    </div>
  </form>
</div>

<script src="../js/signup.js"></script>