<div id="takequiz-container" quiz-id="{{quiz.id}}">
  <div class="main-title">
    <h2 id="quiz-title">{{quiz.quiz_title}}</h2>
  </div>
  <div id="quiz-question-box">
    <h5 id="quiz-question">{{question}}</h5>
    <ul id="answer-choice-list">
      <li id="choice1" data-index="choice1" correct-answer=false>A&#41 <span id="choice1-text"></span></li>
      <li id="choice2" data-index="choice2" correct-answer=false>B&#41 <span id="choice2-text"></span></li>
      <li id="choice3" data-index="choice3" correct-answer=false>C&#41 <span id="choice3-text"></span></li>
      <li id="choice4" data-index="choice4" correct-answer=false>D&#41 <span id="choice4-text"></span></li><br>
    </ul>
  </div>
</div>

<script src="../../js/take-quiz.js"></script>