<form class="quiz-title-form" quiz-id={{quiz.id}}>
    <div class="form-line">
        <label for="quiz-title-input">Quiz Title:</label>
        <input class="form-input" type="text" id="quiz-title-input" placeholder="What is the title of your quiz?" value="{{quiz.quiz_title}}"/>
    </div>
    <div class="form-line">
        <button class="btn" id="update-quiz-btn">Update Quiz Title</button>
    </div>
</form>

<script src="../../js/update.js"></script>