body {
    display: flex;
    flex-direction: column;
    /* background-image: linear-gradient(black, rgb(80, 0, 80)); */
    background-color: #e8e7e7;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    /* margin: 2.5px; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(whitesmoke, teal);
    color: navy;
    padding: 5px;
    margin-bottom: 5px;
    height: 20vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 5px;
    margin: 10px 5px;
}

#user-quizzes {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 40%;
}

#profile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h3 {
    margin: 5px;
    padding: 5px;
}

.quiz-title {
    margin: 5px;
    padding: 5px;
    font-size: 1.2em;
    font-weight: 700;
}

#quiz-question-title {
    width: 100%;
}

#quiz-question-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 75%
}

#quiz-question {
    margin: 5px 30px;
}

#user-quizlist {
    padding: 5px;
}

.quiz-title:hover {
    background-color: whitesmoke;
    color: #38155e;
    text-decoration: none;
    transition-duration: .5s;
}

.btn {
    margin: 5px;
    padding: 5px;
    font-size: 1.2em;
    background-image: linear-gradient(whitesmoke, burlywood);
    color: #38155e;
    font-weight: 700;
}

.btn:hover {
    background-image: linear-gradient(navy, violet);
    color: whitesmoke;
    text-decoration: none;
    transition-duration: .5s;
}

#signup-form,
#login-form {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form-line {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 10px;
    padding: 5px;
    align-items: center;
}

#login-btn {
    margin-left: 15px;
}

.form-input {
    padding: 5px 10px;
    margin-left: 10px;
    width: 85%;
}

#quizdata-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    width: 70%;
    padding: 5px;
    margin: 50px 10px 10px 10px;
    max-height: 75vh;
    overflow-y: auto;
}

#questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    width: 70%;
    padding: 5px;
    margin: 10px;
    max-height: 80vh;
    overflow-y: auto;
}

#question-list {
    display: flex;
    flex-direction: column;
    margin: 5px;
    font-size: 1.2em;
}

.question-link {
    margin: 5px;
    font-weight: 700;
    color: black;
}

.quiz-link {
    margin: 5px;
    font-weight: 700;
    color: black;
}

.question-link:hover,
.scores:hover,
.quiz-link:hover,
#answer-choice-list li span:hover,
#end-quiz-links a:hover {
    background-color: whitesmoke;
    color: #38155e;
    text-decoration: none;
    transition-duration: .5s;
    cursor: pointer;
}

li {
    margin-bottom: 10px;
}

.question-data {
    padding: 5px;
}

.btn-box {
    padding: 5px;
    margin: 5px;
}

#question-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    width: 70%;
    padding: 5px;
    margin: 5px;
}

#quizlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    width: 70%;
    padding: 5px;
    margin: 10px;
    max-height: 80vh;
    overflow-y: auto;
}

#login-box,
#signup-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    width: 60%;
    padding: 5px;
    margin: 50px 5px 5px 5px;
}

#signup-btn,
#login-btn {
    margin-left: 0px;
}

#quizlist {
    display: flex;
    flex-direction: column;
    margin: 5px;
    font-size: 1.2em;
}

#create-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.question-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    width: 95%;
    padding: 5px;
    margin: 5px;

}

#radio-box {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-left: 10px;
    align-items: center;
    padding: 5.8px 10.8px;
    margin-left: 10px;
    border: .8px transparent black;
}

.choices {
    display: flex;
    width: 90%;
    justify-content: flex-start;
    margin: 10px;
    align-items: center;
    padding: 5px;
}

.select-answer {
    display: flex;
    width: 15%;
    align-items: center;
    font-size: 1.2em;
    justify-content: flex-end;
}

.question-label {
    display: flex;
    width: 15%;
    justify-content: flex-end;
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
}

.no-button:hover {
    color: #38155e;
    text-decoration: none;
    transition-duration: .5s;
}

#user-scores-container,
#user-quiz-box,
#user-scores-btn-box,
#create-btn-box,
#update-user-btn-box,
.quiz-title-form,
#quiz-scores-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    width: 40%;
    padding: 5px;
    margin: 5px;
}

#user-scores-container,
.quiz-title-form,
#quiz-scores-container {
    display: flex;
    margin-top: 50px;
}

#update-user-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    width: 70%;
    padding: 5px;
    margin: 5px;
}

.width100 {
    width: 100%
}

#update-user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-category {
    display: flex;
    width: 30%;
    justify-content: flex-end;
}

.form-btn-box {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#main-quiz-section {
    display: flex;
}

#user-quizlist {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none !important;
}

#home-btn:link {
    text-decoration: none;
}

#home-btn:visited {
    text-decoration: none;
}

#home-btn:hover {
    text-decoration: none;
}

#home-btn:active {
    text-decoration: none;
}

#main-quiz-section {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
    height: 75vh;
    margin: 50px 5px 5px 10px;
}

#timer-box,
#score-box,
#message-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 25vh;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    margin-bottom: 10px;
}

#takequiz-container {
    width: 100%;
    height: 100%;
}

#main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    padding: 5px;
    margin: 50px 10px 5px 5px;
}

#message-box {
    margin-bottom: 0px;
}

#answer-choice-list {
    width: 100%;
}

#end-quiz-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#end-quiz-links {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

#end-quiz-links a {
    margin: 5px;
    padding: 5px;
    font-size: 1.2em;
    font-weight: 700;
    color: black;
}

.update-question-form {
    margin-top: 50px;
}

#signup-link-box {
    margin: 10px;
}

.form-line p {
    font-size: 15px;
}

/* styling for responsive design */
@media screen and (max-width: 768px) {

 #signup-box {
    width: 80vw;
 }
 #login-box {
    width: 80vw;
 }

 .main-title {
    text-align: center;
 }

 .btn-box {
    display: flex;
    flex-wrap: wrap;
}

#quizdata-container h2 {
    padding-top: 1vh;
}

#quizdata-container h3 {
    font-size: 100%;
}

#user-scores-container{
    width: 70vw;
    overflow-y: scroll;
    height: 50vh;
}

#update-user-box {
    width: 80vw;
}

#main-quiz-section {
    flex-direction: column;
}

aside {
    flex-direction: row;
    height: 10vh;
}

#timer-box {
    border: none;
    margin-right: 5vw;
}

#score-box {
    border: none;
    margin-right: 5vw;
}

#message-box {
    border: none;
    margin-right: 5vw;
}

#main-box {
    height: 49vh;
    width: 98vw;
}

}