body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(black, rgb(80, 0, 80));
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    margin: 2.5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(whitesmoke, teal);
    color: navy;
    padding: 5px;
    margin-bottom: 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 10px 5px;
}

#user-quizzes {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    width: 40%;
}

#profile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h3 {
    margin: 5px;
    padding: 5px;
}

.quiz-title {
    margin: 5px;
    padding:5px;
    font-size: 1.2em;
    font-weight: 700;
}

#user-quizlist {
    padding: 5px;
}

.quiz-title:hover {
    background-color: whitesmoke;
    color: #38155e;
    text-decoration: none;
    transition-duration: .5s;
}

.btn {
    margin: 5px;
    padding: 5px;
    font-size: 1.2em;
    background-image: linear-gradient(whitesmoke, burlywood);
    color: #38155e;
    font-weight: 700;
}

.btn:hover {
    background-image: linear-gradient(navy, violet);
    color: whitesmoke;
    text-decoration: none;
    transition-duration: .5s;
}

#login-form {
    margin: 5px;
    padding: 5px;
    width: 100%;
}

.form-line {
    display: flex;
    width: 90%;
    margin: 10px;
    padding: 5px;
    align-items: center;
}

#login-btn {
    margin-left: 15px;
}

.form-input {
    padding: 5px 10px;
    margin-left: 10px;
    width: 85%;
}

#quizdata-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    width: 70%;
    padding: 5px;
    margin: 10px;
    max-height: 80vh;
    overflow-y: auto;
}

#questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    width: 70%;
    padding: 5px;
    margin: 10px;
    max-height: 80vh;
    overflow-y: auto;
}

#question-list {
    display: flex;
    flex-direction: column;
    margin: 5px;
    font-size: 1.2em;
}

.question-link {
    margin: 5px;
    font-weight: 700;
    color: whitesmoke;
}

.quiz-link {
    margin: 5px;
    font-weight: 700;
    color: whitesmoke;
}

.question-link:hover {
    background-color: whitesmoke;
    color: #38155e;
    text-decoration: none;
    transition-duration: .5s;
}

.quiz-link:hover {
    background-color: whitesmoke;
    color: #38155e;
    text-decoration: none;
    transition-duration: .5s;
}

.question-data {
    padding: 5px;
}

.btn-box {
    padding: 5px;
    margin: 5px;
}

#question-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    width: 70%;
    padding: 5px;
    margin: 5px;
}

#quizlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    width: 70%;
    padding: 5px;
    margin: 10px;
    max-height: 80vh;
    overflow-y: auto;
}

#login-box,
#signup-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    width: 60%;
    padding: 5px;
    margin: 50px 5px 5px 5px;
}

#signup-btn,
#login-btn {
    margin-left: 0px;
}

#quizlist {
    display: flex;
    flex-direction: column;
    margin: 5px;
    font-size: 1.2em;
}

#create-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.question-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    width: 95%;
    padding: 5px;
    margin: 5px;

}

#radio-box {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-left: 10px;
    align-items: center;
    padding: 5.8px 10.8px;
    margin-left: 10px;
    border: .8px transparent whitesmoke;
}

.choices {
    display: flex;
    width: 90%;
    justify-content: flex-start;
    margin: 10px;
    align-items: center;
    padding: 5px;
}

.select-answer {
    display: flex;
    width: 15%;
    align-items: center;
    font-size: 1.2em;
    justify-content: flex-end;
}

.question-label {
    display: flex;
    width: 15%;
    justify-content: flex-end;
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
}

.no-button:hover {
    color: #38155e;
    text-decoration: none;
    transition-duration: .5s;
}

#user-quiz-box,
#create-btn-box,
#update-user-btn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    width: 40%;
    padding: 5px;
    margin: 5px;
}

#update-user-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    width: 70%;
    padding: 5px;
    margin: 5px;
}

.width100 {
    width:100%
}

#update-user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-category {
    display: flex;
    width:30%;
    justify-content: flex-end;
}

.form-btn-box {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.hidden {
    display: none !important;
}